.airsigns {
 
  background-color: #DCC7BE;
  
}

.earthsigns {

  background-color: #D4DBD1;

}

.firesigns {

  background-color: #FFE5D9;
  
}

.watersigns {
 
  background-color: #EAFDF8;
  
}

.index {

  background-color: #DDCAD9;
  
}


p,h1,li,h2 {
  font-family: 'Dosis', sans-serif;
}
p {
  font-size: 18px;
}

  
}
h1 {
  font-size: 20px;

  
}
li { 

  font-size: 18px;
  }


}




