<style>
airsigns.html {
  body {
  background-color: #E5E9EC;
  }
}

earthsigns.html {
  body {
  background-color: #D8E2DC;
  }
}

firesigns.html {
  body {
  background-color: #FFE5D9;
  }
}

watersigns.html {
  body {
  background-color: #EAFDF8;
  }
}

index.html {
  body {
  background-color: #DDCAD9;
  }
}

body {
p {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;

  
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;

  
}
li { 
font-family: 'Dosis', sans-serif;
  font-size: 20px;
  }
}
image { 
  height: 200px;
  width:50%;
}
</style>



